body{
margin:0;
font-family:Arial;
}

.sidebar{
position:fixed;
left:0;
top:0;
width:220px;
height:100%;
background:#2c7a2c;
padding:20px;
}

.sidebar h2{
color:white;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:10px 0;
}

.sidebar a:hover{
background:#1e5a1e;
padding-left:5px;
}

.contenido{
margin-left:240px;
padding:40px;
}
